version = 0.1

[default.deploy.parameters]
stack_name = "oficina-lambda-auth"
resolve_s3 = true
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = false
fail_on_empty_changeset = false
# Preencha no sam deploy (não commitar senha):
# parameter_overrides = "DbHost=... DbPort=5432 DbName=oficina_mecanica DbUser=oficina_admin DbPassword=... VpcId=vpc-... VpcSubnetIds=subnet-...,subnet-... RdsSecurityGroupId=sg-..."
